@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Oswald:wght@600&family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --black: #131313;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p, li, a, span {
  font-family: 'Poppins', sans-serif;
  color: white;
  letter-spacing: 1.5px;
  line-height: 1.7em;
}

body {
  background-color: var(--black);
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

main {
  width: 70vw;
  margin: 0 auto;
}

h1 {
  font-size: 5vw;
  line-height: 1.1em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.4em;
}

li {
  line-height: 2.4em;
}

a {
  text-decoration: none;
}

#pattern-lrg {
  font-family: 'Kanit', sans-serif;
  color: white;
  font-size: 20em;
  line-height: 1.3em;
}

#pattern-med {
  font-family: 'Kanit', sans-serif;
  color: white;
  font-size: 12em;
  position: relative;
  transition: 0.4s;
}

#pattern-med-reversed {
  font-family: 'Kanit', sans-serif;
  color: var(--black);
  -webkit-text-stroke: 1px rgb(255 255 255);
  font-size: 12em;
}

#pattern-sml {
  font-family: 'Kanit', sans-serif;
  color: white;
  font-size: 6em;
  position: relative;
  left: 0px;
}

#pattern-sml-reversed {
  font-family: 'Kanit', sans-serif;
  color: var(--black);
  -webkit-text-stroke: 1px rgb(255 255 255);
  font-size: 6em;
  position: relative;
}

#pattern-xsml-reversed {
  font-family: 'Kanit', sans-serif;
  color: var(--black);
  -webkit-text-stroke: 1px rgb(255 255 255);
  font-size: 3em;
  line-height: 0.1;
  position: relative;
  right: -1px;
}

button {
  background-color: var(--black);
  appearance: none;
  border: 1px solid white;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  display: none;
  transition: 0.4s;
}

button:hover {
  transform: rotate(360deg);
}

.material-icons {
  color: white;
  font-size: 2.5em;
  line-height: 50px;
}

@media only screen and (max-width: 768px) {
  main {
    width: 85vw;
  }

  h1 {
    font-size: 5.5em;
  }

  p, li, a, span {
    font-size: 0.9em;
  }

  html {
    overflow-x: hidden;
  }
}

