#my-works {
  margin-top: 1em;
}

#my-works h1 {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  height: 240px;
  align-items: flex-end;
}

span#pattern-sml {
  display: flex;
  justify-content: flex-end;
  height: 0.7em;
  line-height: 1;
  z-index: 1;
}

.project-1,
.project-2,
.project-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em;
  margin-bottom: 1em;
  height: 34em;
  align-items: center;
  /* min-width: 50em; */
  max-width: 100em;
  margin: 0 auto;
}

.quiz-watch-img {
  /* grid-column-start: 2; */
}

.img-vertical {
  /* height: 32em; */
  width: 44vw;
  max-width: 780px;
  background-color: rgb(55, 55, 55);
}

.project-info {
  align-self: center;
  margin-bottom: 4em;
}

.project-info a {
  font-style: italic;
  text-decoration: none;
  font-size: 0.8em;
  transition: 1s;
}

.type-speed-img {
  content: url(../assets/portfolio/typingspeed-mockup.jpeg);
  object-fit: cover;
  opacity: 0.5;
  transition: 0.4s;
}

.quiz-watch-img {
  content: url(../assets/portfolio/quizwatch-mockup.jpeg);
  object-fit: cover;
  opacity: 0.5;
  transition: 0.4s;
}

.souperb-img {
  content: url(../assets/portfolio/souperb-mockup.jpeg);
  object-fit: cover;
  opacity: 0.5;
  transition: 0.4s;
}

.type-speed-img:hover,
.quiz-watch-img:hover,
.souperb-img:hover {
  opacity: 0.9;
}

a.more {
  float: right;
  font-style: italic;
  text-decoration: none;
  font-size: 0.8em;
  transition: 1s;
}

#my-works a:hover {
  letter-spacing: 1.8px;
}

@media only screen and (max-width: 1000px) {
  #my-works {
    margin-top: -7em;
  }

  .project-1,
  .project-2,
  .project-3 {
    align-items: center;
    gap: 1.2em;
    height: 27em;
    max-width: 500px;
    min-width: 0em;
  }

  .img-vertical {
    height: 20em;
    width: 15em;
  }

  .project-info {
    margin-bottom: 0px;
    width: 90%;
  }

  .project-2 {
    position: relative;
    left: 0px;
  }
}

@media only screen and (max-width: 420px) {
  span#pattern-sml {
    position: absolute;
    right: 3.4em;
    bottom: -19.5em;
  }

  .project-1,
  .project-2,
  .project-3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 7em;
    gap: 30px;
    height: 100%;
  }

  .project-info {
    width: 90%;
    font-size: 80%;
  }

  .project-2 {
    left: 0;
  }

  .img-vertical {
    height: 19em;
    width: 100%;
    opacity: 1;
  }
}
